{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MI APP</title>
</head>
<body>
    <h1>Se hizo lo que se pudo</h1>

    <!---Iniciar listas!--->
    <button type="button" id="IniciarListas">Iniciarlizar</button>

    <form method="post" id="myform" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="fileInput" name="file" accept=".xml"/>
        <button type="button" id="submitButton">Enviar a flask</button>
    </form>
    <div id="response">
        <textarea id="responseText" rows="10" cols="50"></textarea>
        <button type="button" id="getResponseButton">Consultar Hashtags</button>
    </div>
    <div id="response2">
        <textarea id="responseText2" rows="10" cols="50"></textarea>
        <button type="button" id="getResponseButton2">Consultar Menciones</button>
    </div>
    <div id="response3">
        <textarea id="responseText3" rows="10" cols="50"></textarea>
        <button type="button" id="getResponseButton3">Consultar Sentimientos</button>
    </div>
    <div id="response3">
        <textarea id="responseText4" rows="10" cols="50"></textarea>
        <button type="button" id="getResponseButton4">Ayuda</button>
    </div>
    <button type="button" id="mostrarImagenButton">Mostrar imagen</button>
    <img src="{% static 'grafo.png' %}" id = "imagenMostrada" width="200" height="150">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#submitButton").click(function(e){
                e.preventDefault();
                var form=new FormData();
                form.append('data', $("#inputData").val());
                form.append('file', $("#fileInput")[0].files[0]);
                var csrfToken=$("input[name='csrfmiddlewaretoken']").val();
                form.append('csrfmiddlewaretoken', csrfToken);

                $.ajax({
                    type: "POST",
                    url: "",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function(response){
                        $("#response").html(response.message);
                    },
                    error:function(xhr, status, error){
                        $("#response").html("Error: " + error);
                    }
                });
            });

            $("#getResponseButton").click(function(){
                $.get("/myapp/get_response", function(response){
                    $("#responseText").val(response.message);
                });
            });
            $("#getResponseButton2").click(function(){
                $.get("/myapp/get_response2", function(response){
                    $("#responseText2").val(response.message);
                });
            });
            $("#getResponseButton3").click(function(){
                $.get("/myapp/get_response3", function(response){
                    $("#responseText3").val(response.message);
                });
            });
            $("#getResponseButton4").click(function(){
                $.get("/myapp/get_response4", function(response){
                    $("#responseText4").val(response.message);
                });
            });
            //Para imagenes
            $(document).ready(function(){
                $("#mostrarImagenButton").click(function(){
                    $("#imagenMostrada").toggle();
                });
            });
        })
    </script>
</body>
</html>